header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    #logo-header {
        padding: 1rem;

        img {
            width: 70px;
            height: 70px;
        }
    }

    nav {
        // flex-basis: 25%;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 20px;

            li {
                list-style-type: none;

                a {
                    padding: 10px;
                    // &:hover,
                    // &.active{

                    // }
                }
            }
        }
    }
}